{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:allCategories{% endblock %}

{% block body %}
    <h1>Kategorie</h1>

    Dodaj nową: {{ render(controller('BoardBundle:Category:createCategory')) }}

    <div class="table-responsive">
        <table class="table">
            <tr  class="no">
                <td>Nazwa</td>
                <td>Ilość ogłoszeń</td>
                <td>Usuń</td>
            </tr>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('showCategory', {'id': category.id }) }}">{{  category.name }}</a></td>
                    <td>{{ category.ads | length }}</td>
                    <td><a href="{{ path('removeCategory', {'id': category.id }) }}"  class="glyphicon glyphicon-trash"></a></td>
                </tr>

            {% endfor %}

        </table>
    </div>


{% endblock %}
