{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:allCategories{% endblock %}

{% block body %}
    <h1>Kategorie</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="middle">
            Dodaj nową: {{ render(controller('BoardBundle:Category:createCategory')) }}
        </div>
    {% endif %}
    <br>

    <div class="table-responsive">

        {# total items count #}
        <div class="count">
            <h4>Ilość kategorii: {{ pagination.getTotalItemCount }}</h4>
        </div>
        <table class="table">
            <tr class="no">
                {# sorting of properties based on query components #}
                <th class="col-md-4"{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa', 'c.name') }}<i class="fa fa-sort"></i></th>
                <th class="col-md-3" id="sortByAdsCount">{{ knp_pagination_sortable(pagination, 'Liczba ogłoszeń', 'ent') }}<i class="fa fa-sort"></i></th>


                {% if is_granted('ROLE_ADMIN') %}
                    <th><b>Usuń</b></th>
                {% endif %}

            </tr>

            {% for row in pagination %}
                {% set category = row.0 %}

                <tr>
                    <td><a href="{{ path('showCategory', {'id': category.id }) }}">{{ category.name }}</a></td>
                    <td>{{ row.ent }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('removeCategory', {'id': category.id }) }}"
                               class="glyphicon glyphicon-trash"></a></td>
                    {% endif %}
                </tr>

            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation middle">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>




{% endblock %}
