<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}

        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="{{ asset('css/mystyle.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Zalogowany jako: {{ app.user.username | capitalize }}
{% endif %}


<div class="container">


    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('showAllAds') }}"><b>WSZYTKIE OGLOSZENIA</b></a></li>
        <li role="presentation"><a href="{{ path('showAllCategories') }}"><b>WSZYSTKIE KATEGORIE</b></a></li>
        <li role="presentation"><a href="{{ path('showAllMyActiveAds') }}"><b>TWOJE OGLOSZENIA</b></a></li>
        {% block access %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li role="presentation"><a href="{{ path('fos_user_security_logout') }}"><b>WYLOGUJ</b></a></li>
            {% else %}
                <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
            {% endif %}
        {% endblock %}
    </ul>
    {#TODO: dodanie menu pokaż profil#}




    {% block body %}{% block all %}{% block edit %}{% endblock %}{% endblock %}{% endblock %}
    {% block javascripts %}{% endblock %}
    {% block footer %}


        <hr>




    {% endblock %}
</div>
</body>
</html>
