<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link href="{{ asset('css/mystyle.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

    <div class="container">
        {% block access %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Zalogowany jako: {{ app.user.username | capitalize }}
                <a href="{{ path('fos_user_security_logout') }}">
                    Wyloguj
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Logowanie</a>
            {% endif %}
        {% endblock %}

        {% block body %}{% block all %}{% block edit %}{% endblock %}{% endblock %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}


                <hr>
                <a href="{{ path('showAllAds') }}"><b>WSZYTKIE OGLOSZENIA</b></a> &nbsp;
                <a href="{{ path('showAllMyActiveAds') }}"><b>TWOJE OGLOSZENIA</b></a>
                {#TODO: dodanie menu pokaż profil#}


        {% endblock %}
        </div>
    </body>
</html>
