{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Comment:myComments{% endblock %}

{% block profile %}
    <li><a href="{{ path('showMyComments') }}"><b>KOMENTARZE</b></a></li>
    <li><a href="{{ path('showProfile') }}"><b>WIADOMOŚCI</b></a></li>

{% endblock %}

{% block body %}
    <br>
    <br>

    <h1>Moje komentarze</h1>
    <br>


    <div class="table-responsive">
        <table class="table">
            <tr class="no">
                <td>Data</td>
                <td>Ogłoszenie</td>
                <td>Treść komentarza</td>
            </tr>

            {% for comment in comments %}
                <tr>
                    <td>{{ comment.commentDate | date('Y-m-d H:i:s') }}</td>
                    <td><a href="{{ path("showAd", {'id': comment.itsAd.id }) }}">{{ comment.itsAd.title }}</a></td>
                    <td>{{ comment.commentText }}</td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}
