{% extends "::base.html.twig" %}

{% block title %}Ogłoszenia{% endblock %}

{% block body %}

    <h1>Ogłoszenia</h1>


    <div class="table-responsive">


        {# total items count #}
        <div class="count">
            <h4>Ilość ogłoszeń: {{ pagination.getTotalItemCount }}</h4>
        </div>
        <table class="table">
            <tr class="no">
                {# sorting of properties based on query components #}
                <th class="col-md-1">Zdjęcie</th>
                <th class="col-md-4"{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tytuł', 'a.title') }}<i class="fa fa-sort"></i></th>
                <th class="col-md-3">{{ knp_pagination_sortable(pagination, 'Opis', 'a.description') }}<i class="fa fa-sort"></i></th>
                <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'Data wygaśnięcia', 'a.expirationDate') }}<i class="fa fa-sort"></i></th>
                <th class="col-md-2">{{ knp_pagination_sortable(pagination, 'Data dodania', 'a.creationDate') }}<i class="fa fa-sort"></i></th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(pagination, 'Uzytkownik', 'a.owner.userName') }}</th>
                    {#TODO: sorting by username#}
                {% endif %}

            </tr>

            {% for ad in pagination %}

                {% include 'BoardBundle:Ad:showAdShort.html.twig' with {'ad': ad} %}

            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation middle">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>


{% endblock %}
