{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Ad:myAds{% endblock %}

{% block body %}

    <div class="middle lower">
        <table class="table">
            <tr>

                <th class="col-md-6"><a href="{{ path('createAd') }}">Dodaj ogłoszenie</a></th>
                <th class="col-md-6"><a href="{{ path('showMyOldAds') }}">Zobacz swoje stare ogłoszenia:</a></th>


            </tr>
            </table>

    </div>

    <h1>Twoje aktywne ogłoszenia:</h1>

    <div class="table-responsive">

        {# total items count #}
        <div class="count">
            <h4>Ilość ogłoszeń: {{ pagination.getTotalItemCount }}</h4>
        </div>
        <table class="table">
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-1">Zdjęcie</th>
                <th class="col-md-2"{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tytuł', 'a.title') }}</th>
                <th class="col-md-3">{{ knp_pagination_sortable(pagination, 'Opis', 'a.description') }}</th>
                <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'Data wygaśnięcia', 'a.expirationDate') }}</th>
                <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'Data dodania', 'a.creationDate') }}</th>
                <th class="col-md-1">{{ knp_pagination_sortable(pagination, 'Wyświetlenia', 'a.viewCount') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(pagination, 'Uzytkownik', 'a.owner.userName') }}</th>
                    {#TODO: sorting by username#}
                {% endif %}
                <th class="col-md-1"></th>
            </tr>

            {% for ad in pagination %}

                {% include 'BoardBundle:Ad:showAdShort.html.twig' with {'ad': ad} %}
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation middle">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
