{% extends "::base.html.twig" %}

{% block body %}

    <div class="middle">

        <h1>{{ ad.title }}</h1>

        <p class="list-group-item-text">

            Kategorie:
            {% for category in ad.categories %}
                <span class="label label-info"><big>{{ category.name }}</big></span>
            {% endfor %}
        </p>
        <br>

        {% if app.user.id is defined %}
            {% if ad.owner.id == app.user.id %}
                <a href="{{ path('modifyAd', {'id': ad.id}) }}">Edytuj</a>&nbsp;
                <a href="{{ path('removeAd', {'id': ad.id}) }}">Usuń</a>
            {% endif %}
        {% endif %}


        <div class="table-responsive">
            <table class="table">
                <tr class="no">
                    <td class="col-md-1"></td>
                    <td class="col-md-5"><img width="450px" src="{{ asset('photos/'~ ad.photoPath) }}"
                                              class="thumbnail"/><br></td>
                    <td class="col-md-5"><b>Opis: </b> {{ ad.description }}</td>
                    <td class="col-md-1"></td>

                </tr>
                <tr class="no">
                    <td class="col-md-1"></td>
                    <td class="col-md-3">Data utworzenia: {{ ad.creationDate | date('Y-m-d H:i:s') }}</td>
                    <td class="col-md-3">Data wygaśnięcia: {{ ad.expirationDate | date('Y-m-d H:i:s') }}</td>
                    <td class="col-md-3">Wyświetlenia: {{ ad.viewCount }}</td>
                    <td class="col-md-1"></td>
                </tr>

            </table>
        </div>


        <hr>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Dodaj komentarz:
        <p>
            {{ render(controller('BoardBundle:Comment:addComment', {'id': ad.id })) }}
        </p>
        {% endif %}
        <hr>
        <h3>Komentarze: </h3>

        {% for comment in comments %}
            <p>
                <b>{{ comment.commentOwner.username | capitalize }}</b><br>
                {{ comment.commentText }}<br>
                {{ comment.commentDate|date('Y-m-d H:i:s') }}
                {% if (app.user == comment.commentOwner) or (is_granted('ROLE_ADMIN')) %}<a href="{{ path('removeComment', { 'id': comment.id }) }}">Usuń</a>{% endif %}
            </p>
        {% endfor %}
    </div>

{% endblock %}
