



<tr>
    <td class="col-md-1"></td>
    <td  class="col-md-1"><img width="150px" src="{{ asset('photos/'~ ad.photoPath) }}" class="thumbnail"/></td>
    <td  class="col-md-2"><a href="{{ path('showAd', {'id': ad.id }) }}">{{ ad.title }}</a></td>
    <td  class="col-md-3">{{ ad.description[0:150] }}{% if ad.description | length > 150 %}...{% endif %}</td>
    <td class="col-md-1">
        {#{% set difference = date(ad.expirationDate | date('Y-m-d H:i:s')).diff(date(dateNow)) %}#}
        {#{% set leftDays = difference.days %}#}
        {#{% if leftDays == 1 %}#}
            {#1 dzień#}
        {#{% else %}#}
            {#{{ leftDays }} dni#}
        {#{% endif %}#}

        {{ ad.expirationDate|ago }}

    </td>
    <td class="col-md-1">{{ ad.creationDate |date('Y-m-d H:i:s') }}</td>

    <td class="col-md-1">{{ ad.viewCount }}</td>

    {% if is_granted('ROLE_ADMIN') %}
        <td>{{ ad.owner.username | capitalize }}</td>
    {% endif %}
    <td class="col-md-1"></td>




</tr>